.container {
    width: 100vw;
    height: 100vh;
    background-color: #000706;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    /* background-color: #134647; */
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-color: white;
    border-style: dashed;
    padding: 40px;

}

.textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.photo {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}